/* this div creates a white card that places its content in its center */
.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 32px;
  width: 256px;
  padding: 32px;
}

/* load the Kanit-Regular font */
@font-face {
  font-family: Kanit-Regular;
  src: url(/Kanit-Regular.ttf);
}

/* make the skill's name use the Kanit-Regular font */
.skillText {
  font-family: Kanit-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  margin: 0;
}