/* split the screen into two halves horizontally */
.screenContent {
  display: flex;
  flex-direction: row;
  height: 600px;
}

/* divide the About Me content from the image */
.splitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* this is a white card containing all of the About Me text */
.aboutTextContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 32px;
  margin: 96px;
  padding: 32px;
}

/* load the Kanit-Regular font */
@font-face {
  font-family: Kanit-Regular;
  src: url(/Kanit-Regular.ttf);
}

/* make the "I'm Pascual" text big and blue */
.helloText {
  font-family: Kanit-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 42px;
  color: #0057ab;
  margin: 0;
}

/* load the Kanit-Light font */
@font-face {
  font-family: Kanit-Light;
  src: url(/Kanit-Light.ttf);
}

/* make the bio text smaller and thinner (using Kanit-Light) */
.paragraphText {
  font-family: Kanit-Light, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin: 0;
}