.screenContent {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contactTextContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 32px;
  margin: 36px;
  padding: 48px;
}

@font-face {
  font-family: Kanit-Regular;
  src: url(/Kanit-Regular.ttf);
}

.contactText {
  font-family: Kanit-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  margin: 0;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.thankyouText {
  font-family: Kanit-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 48px;
  margin: 0;
  margin-top: 16px;
}