.screenContent {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  height: 500px;
  padding: 100px;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px black solid;
  margin: 20px;
}