/* this div allows the screen to be split in two halves horizontally */
.screenContent {
  display: flex;
  flex-direction: row;
  height: 600px;
}

/* these containers divide the Introduction content from the image */
.splitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* this is a white card containing all of the Introduction text */
.introTextContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 32px;
  padding: 32px;
}

/* load the Kanit-Regular font */
@font-face {
  font-family: Kanit-Regular;
  src: url(/Kanit-Regular.ttf);
}

/* make the "Hello!" text big and blue */
.helloText {
  font-family: Kanit-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 64px;
  color: #0057ab;
  margin: 0;
}

/* make the rest of the text smaller than the header */
.paragraphText {
  font-family: Kanit-Regular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 48px;
  margin: 0;
}