/* make the website use a background image of a sky */
body {
  margin: 0;
  background-image: url("/background-image.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}